<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div class='form-group' *ngIf='stepCounter === 0'>
    <label for="name">
      Name
    </label>
    <input placeholder="name" class='form-control'
     id="name" type="text" formControlName="name">
  </div>

  <div class='form-group' *ngIf='stepCounter === 1'>
    <label for="address">
      Phone
    </label>
    <input class='form-control' id="phone" type="phone" formControlName="phone">
  </div>

  <div class='form-group' *ngIf='stepCounter === 2'>
    <label for="email">
      Email
    </label>
    <input class='form-control' required id="email" type="text" formControlName="email">
  </div>

  <button class="btn btn-primary" [disabled]="!checkoutForm.valid" type="submit" *ngIf='stepCounter === 2'>Submit</button>

  <div class='form-group' *ngIf='formSubmitted'>
     <span>Signup Submitted</span>
    </div>
</form>


<div class="form-group row" *ngIf="stepCounter < 2">

  <div class="col-md-1">
      <button class="btn btn-primary"  [disabled]='!stepCounter > 0' (click)='onPrev()'>Prev</button>
  </div>
  <div class="col-md-1">
      <button class="btn btn-primary"  [disabled]='!stepCounter === 0 && !stepCounter < 2' (click)='onNext()'>Next</button>
  </div>
</div>